<div class="message-board-home">
    <div class="row">
        <div class="col-12">

            <div class="card mt-4 text-left"
                 style="cursor: pointer"
                 v-for="card in cards.data"
                 :key="card.id"
                 @click="goToCard(card.id)">
                <div class="card-header font-weight-bold">
                    {{ card.title }}

                    <button v-if="authenticatedUser && authenticatedUser.id === card.user.id" @click.stop="deleteCard(card.id)"
                            :disabled="deleteInProgress"
                            class="btn btn-danger float-right">Delete
                    </button>
                </div>
                <div class="card-body">
                    <blockquote class="blockquote mb-0">
                        <p>{{ card.description }}</p>
                        <footer class="blockquote-footer">
                            by user: <cite title="Source Title">
                            {{ card.user.firstName }} "{{ card.user.username }}" {{ card.user.lastName }}
                        </cite>
                            <span class="float-right">{{ card.datetime | formatDate }}</span>
                        </footer>
                    </blockquote>
                </div>
            </div>
        </div>

        <div class="col-12 mt-3 justify-content-center">
            <div v-if="cardsLoading"
                 class="spinner-border text-secondary" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>

        <div class="col-12 mt-3 justify-content-centert">
            <div v-if="!cards || !cards.data || !cards.data.length" class="alert alert-info" role="alert">
                No posts found.
            </div>
        </div>

        <div class="col-12 mt-3 justify-content-center">
            <button @click="loadMore()" class="btn btn-success" v-if="cards.hasMore">Load more</button>
        </div>
    </div>
</div>
