<div class="message-board-card">
    <div class="row">
        <div class="col-12">
            <div v-if="cardLoading"
                 class="spinner-border text-secondary" role="status">
                <span class="sr-only">Loading...</span>
            </div>

            <div v-if="card" class="card bg-light mt-4">
                <div class="card-body text-left">
                    <div class="font-weight-bold">{{ card.title }}</div>
                    <div class="mt-3">{{ card.description }}</div>
                    <div class="blockquote-footer mt-3">
                        by user: <cite title="Source Title">
                        {{ card.user.firstName }} "{{ card.user.username }}" {{ card.user.lastName }}
                    </cite>
                        <span class="float-right">{{ card.datetime | formatDate }}</span>
                    </div>
                </div>
            </div>

            <div v-if="loggedIn" class="mt-3 comment">
                <div class="form-group">
                    <textarea placeholder="What are your thoughts ?"
                              v-model="comment"
                              class="form-control"
                              style="resize: none"
                              rows="3">
                    </textarea>
                </div>
                <button class="btn btn-info"
                        @click="applyComment()"
                        :disabled="cardCommentsLoading">
                    Comment
                </button>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div v-if="cardCommentsLoading"
                 class="spinner-border text-secondary" role="status">
                <span class="sr-only">Loading...</span>
            </div>

            <div class="card mt-3"
                 v-for="comment in cardComments.data"
                 :key="comment.id">
                <div class="card-body text-left">
                    {{ comment.text }}

                    <hr>
                    <div class="font-italic small">
                        <span v-if="comment.user">
                            {{ comment.user.firstName }} "{{ comment.user.username }}" {{ comment.user.lastName }}
                        </span>
                        <span class="float-right">{{ comment.datetime | formatDate }}</span>
                    </div>
                </div>
            </div>

            <div v-if="!cardComments.data.length" class="alert alert-info mt-3" role="alert">
                No comments on this post !
            </div>

            <div class="col-12 mt-3 justify-content-center">
                <button @click="loadMore()" class="btn btn-success" v-if="cardComments.hasMore">Load more</button>
            </div>

        </div>
    </div>
</div>
