<div class="message-board-card">
    <div class="row">
        <div class="col-12">
            <h3>Create card</h3>
            <div class="form-group text-left">
                <label>Title</label>
                <input v-model="title" class="form-control" type="text">
            </div>
            <div class="form-group text-left">
                <label>Description</label>
                <textarea v-model="description"
                          class="form-control"
                          style="resize: none"
                          rows="3">
                </textarea>
            </div>
            <button :disabled="createCardLoading" @click="createCard()" class="btn btn-success">Create card</button>
        </div>
    </div>

    <div class="row">
        <div class="col-12 mt-4">
            <div v-if="createCardLoading"
                 class="spinner-border text-secondary" role="status">
                <span class="sr-only">Creating ...</span>
            </div>
        </div>
    </div>
</div>
