<nav class="navbar navbar-expand navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="/#/">MessageBoard</a>
        <div v-if="loggedIn && authenticatedUser" class="ml-3 nav-item text-white mr-auto">
            <span class="nav-link">Welcome {{ authenticatedUser.username }}!</span>
        </div>

        <div id="navbarNav">
            <ul class="navbar-nav mr-auto">
                <li v-if="loggedIn" class="nav-item">
                    <router-link class="nav-link" to="/create-card">Create</router-link>
                </li>
                <li class="nav-item">
                    <router-link class="nav-link" to="/about">About</router-link>
                </li>
                <li class="nav-item">
                    <router-link v-if="$route.path !== '/login'" class="nav-link" to="/login">
                        <span v-if="!loggedIn">Login</span>
                        <span v-if="loggedIn">Logout</span>
                    </router-link>
                </li>
            </ul>
        </div>
    </div>
</nav>

