<div class="messageboard-register">
    <div class="row justify-content-center">
        <div class="col-12 col-md-6">
            <h4>Sign up</h4>
            <form>
                <div class="form-group">
                    <label class="text-left d-block">Name</label>
                    <input v-model="firstname"
                           type="text"
                           class="form-control"
                           placeholder="Enter name...">
                </div>
                <div class="form-group">
                    <label class="text-left d-block">Last name</label>
                    <input v-model="lastname"
                            type="text"
                            class="form-control"
                            placeholder="Enter last name...">
                </div>
                <div class="form-group">
                    <label class="text-left d-block">Username</label>
                    <input v-model="username"
                            type="text"
                            class="form-control"
                            placeholder="Enter username...">
                </div>
                <div class="form-group">
                    <label class="text-left d-block">Password</label>
                    <input v-model="password"
                            type="password"
                            class="form-control"
                            placeholder="Enter password...">
                </div>
                <button type="button" class="btn btn-primary" @click="register()">Submit</button>
            </form>
        </div>
    </div>

    <div class="row mt-3 justify-content-center">
        <div class="col-12 col-md-6">
            <router-link to="/login">Have an account ? Login here</router-link>
        </div>
    </div>
</div>
