<div id="app">
    <navbar></navbar>

    <div class="container mt-4 mb-4">
        <router-view />
    </div>

    <notifications class="error" type="error" position="bottom right" group="error" />
    <notifications class="success" type="success" position="bottom right" group="success" />
</div>