<div class="login">
    <div class="row justify-content-center">
        <div class="col-12 col-md-6">
            <h4>Login</h4>
            <form>
                <div class="form-group">
                    <label class="text-left d-block">Username</label>
                    <input v-model="username"
                           type="email"
                           class="form-control"
                           placeholder="Enter username...">
                </div>
                <div class="form-group">
                    <label class="text-left d-block">Password</label>
                    <input v-model="password"
                           type="password"
                           class="form-control"
                           placeholder="Enter password...">
                </div>
                <button type="button" @click="handleSubmit()" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
    <div class="row mt-3 justify-content-center">
        <div class="col-12 col-md-6">
            <router-link to="/register">Don't have an account ? Register here</router-link>
        </div>
    </div>
</div>
